* {
    margin: 0;
    padding: 0;
}

img {
    width: 370px;
    height: 350px;
}

.two {
    color: white;
}

.middle {
    text-align: center;
}

.button {
    color: white;
    background-color: black;
    width: 100px;
    height: 50px;
    cursor: pointer;
    font-weight: bold;
    position: sticky;
    top: 0%;
    text-align: center;
    position: absolute;
}

.button:hover {
    background-color: black;
    color: white;
    width: 130px;
    cursor: pointer;
    font-style: italic;
    position: absolute;
}
